h1{
    background-color: yellow;
    color: black;
}
.container{
    background: red;

}
.container p{
    color: white;
}


.div1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    color: white;
    
    text-align: center;
    margin: 5px;

    background-color: red;

}