/* div{
    height: 100px;
    width: 100px;
    background-color: yellow;
    color: black;
    border: 2px solid red;
    margin-top: 10px;
} */


/* Css_file in js  */


.dark{
    background-color:black;
}
.Light{
 background-color: red;
} 